/* Loading.module.css */
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 전체 화면 높이 */
}

.loader {
    border: 8px solid #f3f3f3; /* 배경색 */
    border-top: 8px solid black; /* 스피너 색상 */
    border-radius: 50%;
    width: 50px; /* 스피너 크기 */
    height: 50px; /* 스피너 크기 */
    animation: spin 1s linear infinite; /* 애니메이션 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
